NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDzdnWu7VBoAkipBXqnU0f9BlmyUPrDsb8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=social-cd7fd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://social-cd7fd-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=social-cd7fd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=social-cd7fd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=939695600486
NEXT_PUBLIC_FIREBASE_APP_ID=1:939695600486:web:168d81b42d0cbbb3148ea7
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-V8Q4CX9FV1
